/node_modules
/clients/library/node_modules
.DS_Store
package-lock.json
privKeys
.idea
/store
/evocoinDB
/dbAddress
config.js
config.json
/keystore
.vscode
/clients/library/node_modules
/clients/library/dist
genesis.json
default-wallets
votes.json